<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">sv-01</div>
  </div>
  <div class="panel-body">サーバー１のステータスOK</div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">sv-02</div>
  </div>
  <div class="panel-body">サーバー２のステータスOK</div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">sv-03</div>
  </div>
  <div class="panel-body">サーバー３のステータスOK</div>
</div>
