.container{
  margin-left: 0px;
}

div.main{
  margin-top: -20px;
}
ul.side{
  margin-right: -30px;
  background-color: darkblue;
  a{
    color: white;
  }
}
nav.header{
  background-color: blue;
}
.navbar-default .navbar-brand {
  color: white;
}