<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>
  </div>
  <div class="container">
    <div class="row main">      
      <div class="col-xs-2">
	<%= render 'layouts/side' %>
      </div>  
      <div class="col-xs-10">
	<%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
